@import 'materialize-css/dist/css/materialize.min.css';
@import url('https://fonts.cdnfonts.com/css/itim');

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(289deg, #FFEA2D 18.75%, rgba(219, 255, 0, 0.00) 100%);
  font-family: Itim;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

span {
  color: rgb(117, 142, 158);
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

.title{
    font-size: 30px;
    text-align: center;
    margin: 0 auto;
}

p {
  font-size: 24px;
  color: #333;
  margin: 0;
}

button {
  border-radius: 5px;
  background: #FAFF00;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background: #b5b801;
  color:#fff;
}
.flex{
  display: flex;
  align-items:center;
  gap:10px;
}

.material-icons{
  font-size: 25px;
  margin-left: 10px;
  cursor: pointer;
}

.hide{
 opacity: 0;
}

.show{
  opacity: 1;
}

.title{
  font-size: 4.25rem;
  text-align: center;
  margin: 0 auto;
}