@import 'materialize-css/dist/css/materialize.min.css';

body {
  margin: 0;
  padding: 0;
  background-color: #ffff;
}

span {
  color: rgb(117, 142, 158);
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

.title{
    font-size: 30px;
    text-align: center;
    margin: 0 auto;
}

p {
  font-size: 24px;
  color: #333;
  margin: 0;
}

button {
  background-color: #f44336;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #e53935;
}
.flex{
  display: flex;
  align-items:center;
  gap:10px;
  margin-bottom: 1.5rem;
}

.material-icons{
  font-size: 25px;
  margin-left: 10px;
  cursor: pointer;
}

.hide{
 opacity: 0;
}

.show{
  opacity: 1;
}