@import 'materialize-css/dist/css/materialize.min.css';

body {
  margin: 0;
  padding: 0;
  background-color: #ffff;
}

span {
  color: rgb(117, 142, 158);
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

.todo {
  width: 100%;
}

.todo.status span {
  text-decoration: line-through;
}

.todo label {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  background: #cecece;
  padding: 1rem;
}

.todo i {
  z-index: 2;
}

.title{
    font-size: 30px;
    text-align: center;
    margin: 0 auto;
}

p {
  font-size: 24px;
  color: #333;
  margin: 0;
}

button {
  background-color: #f44336;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #e53935;
}

.stopwatch{
  display: flex;
  align-items:center;
  justify-content: center;
  gap: 5px;
}

.flex{
  display: flex;
  align-items:center;
  gap:10px;
  margin-bottom: 1.5rem;
}

.material-icons{
  font-size: 25px;
  margin-left: 10px;
  cursor: pointer;
}

.hide{
 opacity: 0;
}

.hoverCross{
  animation: cross forwards 1s;
}

@keyframes cross{
  from {
    transform: translateX(0px);
  }
  to{
    transform: translateX(30px);
  }
}

.show{
  opacity: 1;
}