.container-tasks{
    border-radius: 0.625rem;
    background: #ffffff;
}

.flex-level{
    margin-bottom: 1rem;
    img{
        position: absolute;
        width: 5rem;
        margin-left: -10px;
        z-index: 2;
    }
}

.time-check {
    width: 75.1875rem;
    height: 3.1875rem;
    flex-shrink: 0;
    border-radius: 1.25rem;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin: 0 auto;
    margin-bottom: 10px;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 10%;
        height: 100%;
        background: #ff9058;
        border-radius: 1.25rem;
    }
}

@media (max-width: 992px) {
    .time-check {
        width: 100%;
        height: 3rem;
        margin-bottom: 10px;
    }
}